.lifestyle {
    font-size: 30px;
    display: inline;
    margin-right: 150px;
    margin-left: 300px;
}

.photodiary {
    font-size: 30px;
    display: inline;
    margin-right: 150px;
}

.music {
    font-size: 30px;
    display: inline;
    margin-right: 150px;
}

.travel {
    font-size: 30px;
    display: inline;
}

.canvas {
    width: 420px;
    height: 277px;
    background-image: url(./canvas.png);
    margin-top: 100px;
    margin-left: 150px;
    position: relative;
}

.lf {
    margin-left: 150px;
    max-width: 50px;
}

.More {
    margin-left: 150px;
}
.First {
    margin-left: 150px;
    max-width: 400px;
}
.cofee{
    margin-left: 600px;
    width: 419px;
    height: 280px;
    background-image: url(./cofee.png);
    position: relative;
}
.load {
width: 164px;
height: 58px;
background-image: url(/LoadMore.png);
margin-left: 600px;
margin-top: 50px;
}
.cofan {
margin-top: -250px;
margin-right: 680px;
float: right;
}
